<div class="email-success">
    <img src="{{ 'tick.png' | asset_url }}" width="50" height="50" alt="Success" loading="eager">
    <h2 class="success-message">You will receive an email shortly</h2>
</div>