<div class="email-success">
    {% comment %} <img src="{{ 'tick.png' | asset_url }}" width="50" height="50" alt="Success" loading="eager"> {% endcomment %}
    <h2 class="success-message">You have been subscribed</h2>
</div>