<html>
  <head>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% section 'navbar' %}
    <main>
      {{ content_for_layout }}
    </main>
  </body>
</html>
