<div class="beverage-container">
  <div class="original-bottle">
    <img
      src="{{ 'bottle.png' | asset_url }}"
      alt="bottle"
      width="400"
      height="500"
      loading="eager">
  </div>
  <h1 class="heading-primary">Make Any Coffee Beverage in Seconds</h1>
  <div class="beverage">
    <div class="beverage-list">
      <div class="icon">
        <img
          class="spoon"
          width="70"
          height="100"
          loading="eager"
          src="{{'spoon.svg' | asset_url }}"
          alt="spoon">
      </div>
      <p class="beverage-title-text">Ultra Convenient</p>
      <p class="beverage-text">
        Simply add 1 to 2 tablespoons to water or milk and indulge in a delicious cup of specialty coffee. Immerse yourself in a remarkably smooth experience without compromising on the exceptional quality that discerning coffee enthusiasts seek.
      </p>
    </div>
    <div class="beverage-list">
      <div class="icon">
        <img
          src="{{ 'mug.svg' | asset_url }}"
          alt="mug"
          width="70"
          height="100"
          loading="eager">
      </div>
      <p class="beverage-title-text">
        Unmatched Value
      </p>
      <p class="beverage-text">
        Our 8.5 oz bottle boasts a generous 16 servings of specialty coffee, all at a remarkable cost of just ~$1.25 per serving. Our commitment to providing you with unparalleled quality at an irresistible price sets us apart from the rest.
      </p>
    </div>
    <div class="beverage-list">
      <div class="icon">
        <img
          src="{{ 'cup.svg' | asset_url }}"
          alt="cup"
          width="70"
          height="100"
          loading="eager">
      </div>
      <p class="beverage-title-text">
        Incredibly Versatile
      </p>
      <p class="beverage-text">
        Experience the artistry of crafting an array of coffee beverages - from the refreshment of cold brew or the velvety richness of lattes to the smooth indulgence of your preferred espresso martini.
      </p>
    </div>
  </div>
</div>