<div class="beverage-container">
  <h1 class="heading-primary">Make any Coffee Beverage in Seconds</h1>
  <p class="beverage-desc">When life is moving at lightning speed, brewing a perfect cup of coffee is often a luxury we can't afford</p>
  <div class="beverage">
    <div class="beverage-list">
      <div class="icon">
        <img
          class="spoon"
          width="70"
          height="100"
          loading="eager"
          src="{{'spoon.svg' | asset_url }}"
          alt="spoon">
      </div>
      <p class="beverage-text">
        Add 1 tbsp of Estate ‘98 <br>
        Add more if you like your coffee stronge
      </p>
    </div>
    <div class="beverage-list">
      <div class="icon">
        <img
          src="{{ 'mug.svg' | asset_url }}"
          alt="mug"
          width="70"
          height="100"
          loading="eager">
      </div>
      <p class="beverage-text">
        Fill your mug with hot or liquid of choice <br>
        Water, Milk, Oatmilk
      </p>
    </div>
    <div class="beverage-list">
      <div class="icon">
        <img
          src="{{ 'cup.svg' | asset_url }}"
          alt="cup"
          width="70"
          height="100"
          loading="eager">
      </div>
      <p class="beverage-text">
        Add your favorite toppings <br>
        Add creamer, sugar, or whip cream!
      </p>
    </div>
  </div>
</div>