<div class="convenience-container">
  <h1 class="heading-primary">
    Experience Ultra Convenience
  </h1>
  <p class="convenience-desc">
    Discover the pure essence of our speciality ultra concentrated coffee
  </p>
  <div class="convenience-grid">
    <ul class="grid-1">
      <li>Naturally Grown</li>
      <li>Tasting Notes: Milk Chocolate and Mild Tangerine Acidity</li>
      <li>100% Arabica - Bourbon Varietal</li>
      <li>16 servings in one bottle</li>
      <li>Single Estate</li>
    </ul>
    <div>
      <img
        src="{{ 'bottle.png' | asset_url }}"
        alt="bottle"
        width="400"
        height="500"
        loading="eager"
        class="bottle-main">
    </div>
    <ul class="grid-3">
      <li>Medium Roast</li>
      <li>Strictly High Grown (1,200+e)</li>
      <li>Shade Grown</li>
      <li>Grown on Volcanic soil</li>
    </ul>
  </div>
</div>