<div class="featured-container">
  <h2 class="heading-featured">
    Featured in
  </h2>
  <div class="featured">
    <img src="{{ 'kickstarter.png' | asset_url }}" alt="kickstarter">
    <img src="{{ 'pullandpour.png'  | asset_url}}" alt="pull&pour">
    <img src="{{ 'communicafe.png' | asset_url }}" alt="communicafe">
  </div>
</div>
