<div class="footer">
  <div class="join">
    <h1 class="heading-primary theme-clr">JOIN LA FAMILIA</h1>
    <div class="input">
      <form class="subscribe-form" action="">
        <label for="email"></label>
        <input
          type="email"
          id="email"
          placeholder="ENTER YOUR EMAIL">
        <button class="btn" type="submit">SUBSCRIBE</button>
      </form>
    </div>
    <p>Receive a 15% discount on your first order and stay up to date with our latest news and updates.</p>
  </div>
  <div class="footer-2">
    <div class="logo2">
      <a href="/">
        <img src="{{ 'logo2.png' | asset_url }}" alt="Estate98">
      </a>
    </div>
    <div class="socials">
      <a href=""><img src="{{ 'facebook.svg' | asset_url }} alt="facebook"></a>
      <a href=""><img src="{{ 'instagram.svg' | asset_url }}" alt="instagram"></a>
      <a href=""><img src="{{ 'youtube.svg' | asset_url }}" alt="youtube"></a>
    </div>
  </div>
</div>