<div class="generations-container">
  <div class="generations-content">
    <div class="logo3">
      <img src="{{ 'logo3.png' | asset_url }}" width= "278" height="278" alt="Estate98">
    </div>
    <h1 class="generations-title">
      PICKED BY HAND FOR SIX <br> GENERATIONS.
    </h1>
  </div>
  <div class="overlay"></div>
</div>
