<div class="generations-container">
  <div class="generations-content">
    <div class="logo3">
      <img src="{{ 'logo3.png' | asset_url }}" alt="Estate98">
    </div>
    <h1 class="generations-title">
      PICKED BY HAND FOR SIX GENERATIONS
    </h1>
  </div>
</div>