<div class="hero">
  <video
    id="background-video"
    autoplay
    loop
    muted
    playsinline
    poster="{{ 'hero-poster.png' | asset_url }}">
    <source src="{{ 'Video-medium.mp4' | asset_url }}" type="video/mp4">
  </video>
  <div class="hero-content">
    <h1 class="hero-heading">
      SPECIALTY ULTRA CONCENTRATED COFFEE
    </h1>
    <h2 class="hero-subheading">Savor the Essence of Time</h2>
    <a href="/pages/shop">
      <button class="btn-primary">SHOP NOW</button>
    </a>
  </div>
</div>