<h1 class="heading-primary heading-mbl">
  ULTRA CONCENTRATED COFFEE
</h1>
<div class="flex-text-first">
  <div class="flex-content-left">
    <h1 class="heading-primary .heading-short align-left hide-title">
      ULTRA CONCENTRATED COFFEE
    </h1>
    <p>Estate '98 is a specialty Ultra Concentrated Coffee (Esencia de Café) extracted from the finest 100% Strictly High Grown Arabica beans. Experience unmatched convenience as you create your favorite coffee beverages with a tablespoon or two to water and milk. Cultivated in the lush mountains of El Salvador, Estate '98 embodies the legacy of an ancestral 'Esencia de Café' recipe, cherished and elevated through generations.</p>
  </div>
  <div class="flex-image">
    <img src="{{ 'ultra2.png' | asset_url }}" alt="Ultra concentrated coffee">
  </div>
</div>