{{ 'navbar.css' | asset_url | stylesheet_tag }}

<navbar class="navbar">
  <div class="logo">
    <img
      width="148"
      height="81"
      loading="eager"
      src={{ "estate-logo.svg" | asset_url }} alt="{{ shop.name }}"
    />
  </div>
  <ul class="nav">
    {% for link in linklists.main-menu.links %}
      <li class="nav-item">{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>
</navbar>
