<div class="reviews-container">
  <div class="review">
    <p class="author">Johan</p>
    <p class="star">&#9733 &#9733 &#9733 &#9733 &#9733</p>
    <p class="content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
  </div>
  <div class="review">
    <p class="author">Andrew Paulter</p>
    <p class="star">&#9733 &#9733 &#9733 &#9733 &#9733</p>
    <p class="content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
  </div>
  <div class="review">
    <p class="author">Pull and Pour Coffee</p>
    <p class="star">&#9733 &#9733 &#9733 &#9733 &#9733</p>
    <p class="content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
  </div>
</div>