<div class="reviews-container">
  <div class="review">
    <p class="author">Andrew Paulter of Pull and Pour Coffee</p>
    <p class="star">&#9733 &#9733 &#9733 &#9733 &#9733</p>
    <p class="content">The best cup of coffee you can make in under 10 seconds. Estate ‘98 offers the perfect solution when you are looking for both quality and convenience.</p>
  </div>
  <div class="review">
    <p class="author">Patrick O’Rourke of The Healthy Athlete PT</p>
    <p class="star">&#9733 &#9733 &#9733 &#9733 &#9733</p>
    <p class="content">I want great coffee and I want it fast. Estate ‘98 is my go to since I’m always on the run and in a rush and all it takes is 1 tbsp.</p>
  </div>
  <div class="review">
    <p class="author">Kim Murnane - Health and Wealth Business Coach</p>
    <p class="star">&#9733 &#9733 &#9733 &#9733 &#9733</p>
    <p class="content">New tip to save money, time and the environment when I make coffee - Estate ‘98. Coffee ultra concentrate is the future.</p>
  </div>
  {% comment %} <div class="review">
    <p class="author">Pat Leonard - Sports Writer for NY Daily News</p>
    <p class="star">&#9733 &#9733 &#9733 &#9733 &#9733</p>
    <p class="content">If you are a coffee lover like me, you are going to love Estate ‘98. It’s the most convenient premium coffee I have ever had. It takes me 30 seconds for me to make coffee which is perfect for my busy podcasting schedule. This has replaced my old coffee runs.</p>
  </div> {% endcomment %}
  <div class="review">
    <p class="author">Laura Weiss</p>
    <p class="star">&#9733 &#9733 &#9733 &#9733 &#9733</p>
    <p class="content">Decided to try Estate ‘98 for an afternoon pick me up. Mixed the concentrate with water and added some oat milk and ice...DELICIOUS! If you are a busy parent and love coffee, check it out.</p>
  </div>
  <div class="review">
    <p class="author">José Miguel</p>
    <p class="star">&#9733 &#9733 &#9733 &#9733 &#9733</p>
    <p class="content">I recently had the pleasure of trying Estate 98 and it exceeded my expectations! This coffee is not just a delightful treat for your taste buds; it's also incredibly convenient to prepare when I’m in a rush.</p>
  </div>
  <div class="review">
    <p class="author">Alec L</p>
    <p class="star">&#9733 &#9733 &#9733 &#9733 &#9733</p>
    <p class="content">I am someone who loves my pour over coffee but I love Estate ‘98 when I go into the office or when I’m running out the door or on weekend trips.</p>
  </div>
</div>