.reviews-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 80px;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.review {
    width: 300px;
    margin-right: 20px;
    flex-shrink: 0;
    border: 1px solid lightgray;
    padding: 30px;
    text-align: center;
    scroll-snap-align: start;
}

.author {
    font-family: 'AlternateGotNo3D';
    font-size: 24px;
    margin-bottom: 10px;
}

.star {
    color: #D7A55B;
    margin-bottom: 22px;
}

.content {
    font-family: 'DM Sans';
    font-size: 16px;
    line-height: 32px;
    color: #1d1d1d;
}