{% section 'navbar-white' %}
{% section 'hero' %}
<section class="container">
  {% section 'homesec1' %}
</section>
<section class="container">
  {% section 'beveragehome' %}
</section>
{% section 'generations' %}
<section class="container">
  {% section 'history' %}
  {% section 'recipe' %}
  {% section 'reviews' %}
</section>