{% section 'navbar-black' %}
<section class="container">
  {% section 'product-detail' %}
  {% section 'featured' %}
  {% section 'beverage' %}
  {% section 'convenience' %}
  {% section 'reviews' %}
  {% section 'recipe' %}
  {% section 'faq' %}
</section>