<div class="recipe-detail-container">
  <div class="flex-text-first">
    <div class="flex-content">
      <p>{{ product.description }}</p>
    </div>
    <div class="flex-image">
      <img src="{{ product.featured_image  | img_url: 'large'}}" alt="">
    </div>
  </div>
</div>